body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

header .menu-btn {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
 	-moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
}
header .menu-btn{
	color:#999;
	background:rgba(0, 0, 0, 0);
	padding:20px 5vw;
	font-size:12px;
	text-decoration:none;
	letter-spacing:2px;
	text-transform:uppercase;
}



header .active{
	color:black;
	background:rgb(219, 111, 48);
}

header .menu-btn:hover{
	border:none;
	background:rgb(219, 111, 48);;
	padding:40px 5vw;
	color:#1b1b1b;
	text-decoration: none;
}

header nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: 0.4s;
}

header.black nav{
	background:rgba(0, 0, 0, 0.9);
}

header nav ul li{
	display: inline-block;
}


header img{
	width: 60px;
}
.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}